{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="content-section">
        <!-- This is section to say register -->
        <form method="POST">
        <!-- Anywahere form use csrf token is MUST -->
        {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form | crispy }}
            </fieldset>
            <!-- nice simple btn -->
             <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>

        <!-- This is  section to say already have acccount -->
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>

{% endblock %}
